.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1; }

.header {
  display: flex;
  flex-shrink: 0;
  height: 70px;
  padding: 0 19px;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.11); }
  .header p {
    margin-left: 20px;
    font-size: 22px;
    color: black; }

.body {
  flex: 1;
  padding: 15px 20px; }

.footer {
  display: flex;
  flex-shrink: 0;
  height: 75px;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px; }
  .footer > :first-child {
    margin-right: 22px; }

.inputContainer {
  display: flex;
  height: 50px;
  width: 100%;
  flex: 0 1 auto;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px; }

.input {
  display: flex; }
  .input input {
    width: 50%;
    height: 20px;
    margin: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid;
    font-weight: 300;
    font-size: 12px;
    transition: 0.2s; }
    .input input:focus {
      outline: none;
      border-color: color(blue); }

.error {
  margin-top: 5px;
  display: flex;
  color: red; }

.label {
  display: flex; }

.ImageContainer {
  display: flex;
  flex-direction: row; }
  .ImageContainer img {
    width: 100%;
    height: 200px; }

.NameContainer {
  display: flex;
  flex-direction: row;
  color: black;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 500; }
