.container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1011;
  display: flex;
  width: 540px;
  opacity: 1;
  background: #FFF;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 14px;
  transition: width 0.2s ease-out, opacity 0.2s ease-in; }

.close {
  width: 0;
  opacity: 0;
  transform: translateX(100%); }
