.navigation {
	background-color: black;
	height: 100%;
	width: 250px;
	display: flex;
	justify-content: center;
	overflow-y: auto;
}

.navigationHeader{
	position: relative;	
	flex-shrink: 0;
	display: flex;
	flex-direction: row;
	height: 50px;
	background-color: white;

	align-items: center;
}

html, body {
	height: 100%;
	margin: 0px;
}

.module {
    background-color: #E4E6E6;
    height: 100%;
	display: flex;
	flex: 1;
	overflow: hidden;
	flex-direction: column;
	overflow-y: auto; }
	
.wrapper{
	display: flex;
	flex-direction: row;
	height: 100%;	
}

.topBar{
	position: relative;	
	flex-shrink: 0;
	display: flex;
	flex-direction: row;
	height: 50px;
	}

.topBarWrapper {
	flex: 1 1 0%;
	padding: 0 30px;
	display: flex;
	align-items: center;
	box-shadow: 0 2px 20px 0 rgba(0,0,0,0.2);
	background-color: #5972B7;
  }

.modulName{
	flex: 8 1 0%;
	display: flex;
	color: white;
}

.topBarIcon{
	padding-right: 6px;
	color: white;
	display: flex;
}

.topBarProfile{
	color: white;
	display: flex;
}

.moduleContainer{
	position: relative;	
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	background-color: silver;}

.moduleHeader{
	display: flex;
	position: relative;	
	flex-direction: column;
	background-color: lightblue;
	height: 50px;
}

.moduleBody{
	display: flex;
	position: relative;	
	flex-direction: column;
	background-color: silver;
	width: 100%;
	height: 100%;
}


.moduleBodyContainer{
	height: 80px;
	width: 100px;
	display: flex;
	overflow: hidden;
	flex-direction: row;
	border-radius: 10px;
	background-color: color(white);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
	&:hover{
	  cursor: pointer;
	}
}

.moduleBodyContent {
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 15px 15px 15px 15px;
  }

.grid {
	flex: 1 1 0%;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	align-content: flex-start;
  }

.gridElement{
	min-width: 260px;
}
