.navigation {
	background-color: #2C2C2C;
	height: 100%;
	width: 250px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	overflow-y: auto;
}

.navigationHeader{
	position: relative;	
	flex-shrink: 0;
	display: flex;
	height: 50px;
	width: 100%;
	background-color: black;
	align-items: center;
	padding-left: 15px;
}

.navigationWrapper{
	flex: 1;
	display: flex;
	flex-direction: column;
	
}

.navigationContainer{
	display: flex;
	flex-direction: column;
	height: 55px;
	padding-left: 15px;
	text-decoration: none;
	color: rgba(255,255,255,0.5);
	justify-content: center;
	&:hover {
		background-color:#485078;
		color: white;
		cursor: default;
	  }
}

html, body, :global(#root) {
	height: 100%;
	margin: 0px;	
}

.module {
    background-color: #E4E6E6;
    height: 100%;
	display: flex;
	flex: 1;
	overflow: hidden;
	flex-direction: column;
	overflow-y: auto; }
	
.wrapper{
	display: flex;
	flex-direction: row;
	height: 100%;
	font-family: 'Proxima Nova', sans-serif;
    font-weight: 400;	
}

.topBar{
	position: relative;	
	flex-shrink: 0;
	display: flex;
	flex-direction: row;
	height: 50px;
	}

.topBarWrapper {
	flex: 1 1 0%;
	padding: 0 30px;
	display: flex;
	align-items: center;
	box-shadow: 0 2px 20px 0 rgba(0,0,0,0.2);
	background-color: #5972B7;
  }

.modulName{
	flex: 8 1 0%;
	display: flex;
	color: white;
}

.topBarIcon{
	padding-right: 14px;
	color: white;
	display: flex;
}

.topBarProfile{
	color: white;
	display: flex;
	align-items: center;
	img{
		height: 35px;
		width: 35px;
		border-radius: 50%;
	}
}

.imageProfile{
	display: flex;

}

.profilName{
	display: flex;
	text-align: center;
	padding-left: 10px;
}

.moduleContainer{
	position: relative;	
	flex-shrink: 0;
	display: flex;
	flex-direction: column;}

.moduleHeader{
	display: flex;
	position: relative;	
	flex-direction: column;
	background-color: white;
	height: 50px;
	margin: 10px;
	border-radius: 6px;
}

.multiSearchContainer{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	border-right: 1px solid #DDD;
}

.search{
	display: flex;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
	align-items: center;
	border-right: 1px solid #DDD;
	input{
		padding-left: 10px;
		margin-top: 5px;
		border: none;
		font-size: 16px;
		font-family: 'Proxima Nova', sans-serif;
		font-weight: 400;
		flex-grow: 1;
		flex-shrink: 1;
		display: flex;
		flex-basis: auto;
		color: rgb(128, 128, 128);
		transition: 0.2s;
		&:focus {
			outline: none;
			border: none;
		  }
	}

}

.searchIcon{
	color: gray;
	padding-left: 10px;
}

.closeIcon{
	color: gray;
	flex-grow: 0;
	padding-right: 10px;
}

.searchSection{
	display: flex;
	align-items: center;
	padding: 0 13px;
	border-right: 1px solid #DDD;
	span{
		padding-right: 10px;
		font-size: 12px;
		font-weight: bold;
		color: rgba(0, 0, 0, 0.4);
	}
}

.buttonContainer{
	display: flex;
	align-items: center;
	padding: 0px 10px;
}


.moduleBody{
	display: flex;
	position: relative;	
	flex-direction: column;
	width: 100%;
	height: 100%;
}


$columns: (
	480px: 2,
	768px: 3,
	960px: 4,
	1350px: 5,
	1600px: 6,
  );

.moduleBodyContainer{
	height: 80px;
	display: flex;
	overflow: hidden;
	flex-direction: row;
  
	&:hover{
	  cursor: pointer;
	}

	@each $res, $cols in $columns {
		@media (min-width: $res) {
		  width: (100% / $cols);
		  min-width: 240px;
		  padding: 10px;
		}
	  }
}

.moduleBodyContent {
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	align-items: center;
	border-radius: 10px;
	padding: 15px 15px 15px 15px;
	background-color: white;
  }

.grid {
	flex: 1 1 0%;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	align-content: flex-start;
  }




.logo {
	height: 34px;
  }

.title {
	margin-left: 14px;
	flex: 1;
	padding: 2px 0;
	padding-left: 10px;
	color: white;
	border-left: 1px solid #727272;
  }


.folder{
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	padding: 15px;
	align-items: center;
}

.folderProps{
	display: flex;
	flex-direction: row;
	flex-shrink: 0;
	color: #5972B7;
}

.folderName{
	font-weight: 400;
    font-size: 20px;
	line-height: 21px;
	padding-bottom: 3px;
}

.numberOfItems{
	text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    color: #B4B3B9;
    letter-spacing: 1px;
}

.folderText{
	display: flex;
	flex-direction: column;
	padding-left: 10px;
	align-content: center;
}

.buttonAddContainer{
	position: absolute;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	border: 1px solid #B4B3B9;
	background-color: white;
	bottom: 20px;
	right: 28px;
}

.buttonAdd{
	width: 50%;
	height: 50%;
	margin-left: 18px;
	margin-top: 16px;

}




